@import '../../../../styles.scss';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem); 
  background-color: #e3f2fd; 
  padding-top: 4rem; 
  box-sizing: border-box;
  overflow: hidden;
}

.form-card {
  padding: 1rem; 
  max-width: 37.5rem; 
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15); 
  border-radius: 0.5rem;
  background: white;
  border: 0.125rem solid rgba(0, 0, 0, 0.1); 
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333; 
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
}

mat-card-content {
  padding: 1rem; 
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem; 
}

button {
  margin: 0 0.25rem; 
  border-radius: 0.25rem; 
  padding: 0.5rem 1rem; 
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem; 
}
