<div class="project-list-container">
  <div class="header">
    <h1>{{ (currentUser$ | async)?.role === 'Administrator' ? 'Gestione Progetti' : 'I Miei Progetti' }}</h1>
    <button mat-raised-button color="primary" (click)="addProject()">
      <mat-icon>add</mat-icon> Nuovo Progetto
    </button>
  </div>
  <mat-card *ngFor="let project of (projects$ | async)" class="project-item">
    <mat-card-header>
      <mat-card-title (click)="selectProject(project.id)">{{ project.name }}</mat-card-title>
      <div class="project-actions">
        <button mat-icon-button class="edit-button" (click)="editProject(project.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete-button" (click)="deleteProject(project.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{ project.description }}</p>
      <p>Assegnato a: {{ project.user.id }}</p>
      <ng-container *ngIf="getCompletionPercentage(project.id) | async as completionPercentage; else zeroProgress">
        <mat-progress-bar mode="determinate" [value]="completionPercentage"></mat-progress-bar>
        <p>{{ completionPercentage | number:'1.0-2' }}% completato</p>
      </ng-container>
      <ng-template #zeroProgress>
        <mat-progress-bar mode="determinate" [value]="0"></mat-progress-bar>
        <p>0% completato</p>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="selectProject(project.id)">Assegna Task</button>
    </mat-card-actions>
    <div *ngIf="selectedProjectId === project.id">
      <app-task-list [projectId]="project.id" [currentUser]="(currentUser$ | async)"></app-task-list>
    </div>
  </mat-card>
</div>
