<div class="task-list-container">
  <div class="header">
    <h1>Lista delle Attività</h1>
    <button mat-raised-button color="primary" (click)="addTask()">
      <mat-icon>add</mat-icon> Nuova Attività
    </button>
  </div>
  <mat-card *ngFor="let task of (tasks$ | async)" class="task-item">
    <mat-card-header>
      <mat-card-title>{{ task.title }}</mat-card-title>
      <div class="task-actions">
        <button mat-icon-button class="action-button" (click)="editTask(task.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="action-button" (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{ task.description }}</p>
      <p>Data di scadenza: {{ task.dueDate | date: 'dd/MM/yyyy' }}</p>
      <p>Status: {{ task.completed ? 'Completata' : 'Non completata' }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="completeTask(task.id)" [disabled]="task.completed">Completa</button>
    </mat-card-actions>
  </mat-card>
</div>
