@import '../../../../styles.scss';
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden; /* Aggiungi questa proprietà per prevenire l'overflow */
}

.grid-container {
  width: 100%;
  margin: 0 16px;
  max-height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 4px 8px $card-shadow;
  background: $card-background;
  border: 1px solid lightslategray; /* Unito le proprietà in una singola linea */
}

mat-card-header {
  padding: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  color: grey;
}

mat-card-content {
  width: 100%;
}

mat-card-content div {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card-content button {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px $card-shadow;
  align-self: center;
  background: linear-gradient(to right, $primary-color, $primary-color-hover);

  &:hover {
    background: linear-gradient(to right, $primary-color-hover, $primary-color);
    box-shadow: 0 4px 8px $card-shadow-hover;
  }
}