@import '../../../../styles.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden; 
}

.grid-container {
  width: 100%;
  margin: 0 1rem; 
  max-height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 25rem; 
  box-sizing: border-box;
  padding: 1.5rem; 
  border-radius: 1.25rem; 
  box-shadow: 0 0.25rem 0.5rem $card-shadow;
  background: $card-background;
  border: 1px solid lightslategray; 
}

mat-card-header {
  padding: 1rem; 
  margin-bottom: 1rem; 
  font-size: 1.5rem; 
  font-weight: bold;
  color: grey;
}

mat-card-content {
  width: 100%;
}

mat-card-content div {
  margin-top: 1rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card-content button {
  width: 80%;
  padding: 0.75rem; 
  font-size: 1rem; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: white;
  border: none;
  border-radius: 0.25rem; 
  box-shadow: 0 0.125rem 0.25rem $card-shadow; 
  align-self: center;
  background: linear-gradient(to right, $primary-color, $primary-color-hover);

  &:hover {
    background: linear-gradient(to right, $primary-color-hover, $primary-color);
    box-shadow: 0 0.25rem 0.5rem $card-shadow-hover; 
  }
}
